<!--<ion-content class="tab_top has-footer classified_notab">-->
    <!--<ul class="cat_list">-->
        <!--<li ng-repeat="cat in popularCategories" ng-click="showSubCats(cat.id)">&lt;!&ndash;gotoListing(cat.id)&ndash;&gt;-->
            <!--<span class="image_box">-->
                <!--<img ng-if="cat.logo != null" ng-src="{{imgbaseURL + cat.dir}}"/>-->
                <!--<img src="img/no-img.png" ng-if="cat.logo == null"/>-->
            <!--</span>-->
            <!--<span class="cat_title">{{cat.name}}</span>-->
        <!--</li>-->
    <!--</ul>-->
<!--</ion-content>-->

<ion-tabs class="tabs-icon-top microtabs classifieds_tabs">

    <ion-tab title="Recent ADS" ui-sref="menuView.classifieds.categorytabs.recentads">
        <ion-nav-view name="recent-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Classified Types" ui-sref="menuView.classifieds.categorytabs.classtypes">
        <ion-nav-view name="class-tab"></ion-nav-view>
    </ion-tab>


</ion-tabs>
