<ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-arrow-left-c" ng-click="gobacktoprevies()"></button>

</ion-nav-buttons>
<ion-content class="tab_top full_section has-footer">
    <!--<ul class="roboto" ng-show="listviewwithbg">-->
        <!--<li ng-if="!mainListings.length > 0 && loadComplete" class="align_center">No listings Found</li>-->
        <!--<li ng-repeat="item in mainListings | orderBy:'-is_premium'" ng-click="gotoMainDetail(item.id)">-->
            <!--<section class="group">-->
                <!--<div class="top_large_section">-->
                    <!--<h4>{{item.title}}</h4>-->
                    <!--<span>{{item.city_name}} , {{item.governorate_name}}</span>-->
                <!--</div>-->
                <!--<div class="top_small_section ion-ribbon-b" ng-hide="item.is_premium == 0">-->
                <!--</div>-->
            <!--</section>-->
            <!--<section class="group">-->
                <!--<div class="bot_large_section">-->
                    <!--<p class="listing_phone" ng-if="item.land_line_no.length > 0"><span class="icon ion-ipad font_color_orange margin_r_5"></span>{{item.land_line_no}}<abbr ng-if="item.mobile_no || item.mobile_no.length > 0"> , </abbr>{{item.mobile_no}}</p>-->
                    <!--<span class="font_size_13 font_color_lgray">Distance : <strong class="font_color_lblack">{{item.distance}} KM</strong></span>-->
                <!--</div>-->
                <!--<div class="bot_small_section margin_t_15">-->
                    <!--<span class="icon rounded_icon bg_orange ion-android-star" ng-click="fastTrack(item.id,'fav'); $event.stopPropagation();"></span>-->
                    <!--<span class="icon rounded_icon bg_red ion-android-location" ng-click="fastTrack(item.id, 'locate'); $event.stopPropagation();"></span>-->
                    <!--<span class="icon rounded_icon bg_green ion-edit" ng-click="fastTrack(item.id, 'enquire'); $event.stopPropagation();"></span>-->
                <!--</div>-->
            <!--</section>-->
        <!--</li>-->


    <!--</ul>-->
    <div class="list" style="background:#c0c0c0;" ng-show="listviewwithbg">
        <div class="main_div" ng-repeat="item in mainListings | filter:item | orderBy:'-is_premium'" ng-click="gotoMainDetail(item.id)">

            <div style="width:100%;height:auto;margin-top: 2%;background:white;">

                <table style="width:100%;">
                    <tr>
                        <td class="leftTd">
                            <img class="imag_div" ng-src="{{imageurl}}{{item.id}}_{{item.logo}}">
                        </td>

                        <td class="rightTd">
                            <span style="font-size: 15px;">{{item.title}}</span></br>
                            <span><vn-ratings value="{{item.business_overallrating}}"></vn-ratings></span>
                            <div class="rf_div">
                                <div style="width:50%;float:left;border-right: 2px solid #30B0EC;height: 39px;">
                                    <div class="margin_t_15" style="width:100%;margin-top: 6px;margin-left: 31%;">
                                        <span class="icon rounded_icon bg_orange ion-heart" ng-click="fastTrack(item.id,'fav'); $event.stopPropagation();"></span>
                                    </div>
                                </div>

                                <div style="width:50%;float:left;height: 39px;">
                                    <div class="margin_t_15" style="width:100%;margin-top: 6px;margin-left: 31%;">
                                        <span class="icon rounded_icon bg_red ion-android-star" ng-click="fastTrack(item.id, 'rate'); $event.stopPropagation();"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="addressTd">
                            <p style="font-size: 15px;padding-top: 2px;margin-bottom: 4px;">{{item.city_name}} , {{item.governorate_name}}</p>
                            <p class="ion-ribbon-b" ng-hide="item.is_premium == 0" style="font-size:23px;margin:0px;float:right;color:#40bbed;position:relative;right:10%"></p>

                            <p style="font-size: 15px;">distance :  <strong>{{item.distance}} KM</strong></p>

                        </td>
                    </tr>
                </table>

            </div>

        </div><!--mail_div-->
    </div>

    <!--<ul class="rig " ng-hide="listviewwithbg">-->
        <!--<li ng-if="!mainListings.length > 0 && loadComplete" class="align_center">No listings Found</li>-->
        <!--<li ng-repeat="item in mainListings | filter:item | orderBy:'-distance'" ng-click="gotoMainDetail(item.id)" >-->

            <!--<img ng-src="{{imageurl}}{{item.id}}_{{item.logo}}"/>-->
            <!--&lt;!&ndash;<img ng-if="cat.logo != null" ng-src="{{imgbaseURL + cat.id + '_' + cat.logo}}"/>&ndash;&gt;-->
            <!--<p>{{item.title}}</p>-->
            <!--<vn-ratings value="{{item.business_overallrating}}"></vn-ratings>-->
            <!--<div ng-hide="item.is_premium == 0"> <i class="icon bg_green rounded_icon ion-thumbsup"></i>-->
                <!--<span>KL Verified</span>-->
            <!--</div>-->
            <!--<p>{{item.city_name}} , {{item.governorate_name}}</p>-->
            <!--<p class="font_size_13 font_color_lgray">{{item.distance}} KM<i class="icon rounded_icon bg_red ion-android-location"></i></p>-->

        <!--</li>-->
    <!--</ul>-->
    <!--<div class="list" ng-hide="listviewwithbg">-->

        <!--<a class="item item-thumbnail-left" ng-repeat="item in mainListings | filter:item | orderBy:'-is_premium'" ng-click="gotoMainDetail(item.id)">-->
            <!--<img ng-src="{{imageurl}}{{item.id}}_{{item.logo}}">-->
            <!--<div class="top_small_section ion-ribbon-b" ng-hide="item.is_premium == 0"></div>-->
            <!--<h2>{{item.title}}</h2>-->
            <!--<vn-ratings value="{{item.business_overallrating}}"></vn-ratings>-->
            <!--<p>{{item.city_name}} , {{item.governorate_name}}</p>-->
            <!--<p>distance :  <strong>{{item.distance}} KM</strong></p>-->
            <!--<div class="margin_t_15" style="width:100%;">-->
                <!--<span class="icon rounded_icon bg_orange ion-heart" ng-click="fastTrack(item.id,'fav'); $event.stopPropagation();"></span>-->
                <!--<span class="icon rounded_icon bg_red ion-android-location" ng-click="fastTrack(item.id, 'locate'); $event.stopPropagation();"></span>-->
                <!--<span class="icon rounded_icon bg_red ion-android-star" ng-click="fastTrack(item.id, 'rate'); $event.stopPropagation();"></span>-->

            <!--</div>-->
        <!--</a>-->
    <!--</div>-->
<button class="button ion-more button-positive" data-ng-click="limitarrload()" style="width:100%;">load</button>
    <!--<button class="button ion-more button-positive" data-ng-click="fetchmoredata()" style="width:100%;">Load More</button>-->
</ion-content>