<ion-view title="Kuwait local" class="Aboutus_view" animation="no-animation">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>

    <ion-content class="tab_top full_section has-footer About_clss">
<h3>About Us</h3>
    <div style="position: relative;text-align: justify; padding: 25px;top: 45px;font-family: inherit;word-break: break-word;font-size: medium;">
        Kuwait Local is THE way to connect with local businesses. We are a reliable, up to date, user-friendly local search service operating absolutely free for our users. Our domain expertise lies in providing one stop solution to all our users across various mediums such our mobile-friendly website and our easy-to-use Mobile App (available on Android and iOS). Simply put, we connect you to local businesses, quickly, easily and at zero cost to you!

        Our informative and easy-to-use software allows users to find what they are looking for instantaneously, in real time. We pride ourselves in being the ultimate local search engine for our users through our commitment to fast and accurate service, keeping our users informed, wherever they are. We are completely dedicated to becoming the most successful local search service company in Kuwait by giving you the most up-to-date, real customer reviews. Choosing the service that you require has never been easier!

        At Kuwait Local, we believe that every business has the right to promote their services to every potential customer. We are in the position to showcase businesses with richer content like graphics (logos and photographs), video, and customer testimonials which will enable users to make informed decisions.

        Unlike other search services, we will be able to actually advertise our business clients to the world, thereby giving their potential customers greater depth and understanding, allowing our business clients to become more and more successful. Our information is accurate, helpful and updated regularly, meaning that your potential customers can access up to date information about your latest products/services!

        On top of this (As if this wasn’t enough!) we also have a section for advertising second-hand quality goods. So ditch Ebay and Amazon, we have all you need right here. Everything you need is all in one place and just a couple of clicks away!

        Kuwait Local aims to be the most efficient way to search for local business online. We believe in simple, user-friendly service that is fast and completely free to our users. Our commitment to the accurate transfer of information from businesses to customers through our proprietary software will literally change the way people search for information in Kuwait and around the world. The company's goal is to be world's local search destination and create long-term shareholder value by enhancing its position as a leading local search service. The company's philosophy focuses on end user experience through feedback, continuous innovation, teamwork and integrity.
    </div>


     </ion-content>
    <ion-footer class="bar bar-footer align_center  hide-on-keyboard-open" style="height:auto;">
        <div class="row" style="padding:0px !important;">
            <button class="button button-block ucase blue_button col" >Current version : 1.2.7</button>
        </div>
    </ion-footer>

</ion-view>