<ion-view title="Kuwait local" class="event_writeReview" padding="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>
    
<!--    <ion-nav-buttons side="right">-->
<!--        <button ng-click="setBackAction()"class="button button-icon font_robotoM ucase back_btn">Back</button>-->
<!--    </ion-nav-buttons>-->

    <ion-content class="has-imageslider row has-header has-footer inner-footer padding-bottom" overflow-scroll="true" >
        <h4 class="font_robotoM padding_bottom font_size_18 ucase font_color_black ucase" style="text-align:center">Write review</h4>
            <vn-block-ratings value="0" editable="true" total="5" class="rating_large margin_b_20" style="text-align:center;width:100%;"></vn-block-ratings>
        <div class="list list-inset marginless">
          <form name="rating_form" novalidate style="padding:7px">
                <input type="text" placeholder="Name" ng-model="formEntry.uname" class="font_roboto font_color_gray input_for_validity margin_b_15" required ng-change="formUpdate()" ng-init="formEntry.uname" readonly>
                <input type="email" placeholder="Email Address" ng-model="formEntry.email"  ng-change="formUpdate()" class=" input_for_validity margin_b_15" ng-init="formEntry.email" readonly ng-hide="true" />
                <input type="text" placeholder="Mobile Number" ng-model="formEntry.number"  ng-change="formUpdate()" class=" input_for_validity margin_b_15" ng-init="formEntry.number" readonly ng-hide="true"/>
                <textarea placeholder="Message" ng-model="formEntry.msg" required ng-change="formUpdate()" class=" input_for_validity margin_b_15"></textarea>
          </form>          
        </div>
        <div class="content_placeholder"></div>

    </ion-content>
    <footer class="bar bar-footer align_center  split_50 hide-on-keyboard-open" style="height:55px;">
        <div class="row" style="padding:5px;">
            <button class="button button-block ucase blue_button col margin_r_10" ng-disabled="ratingIntegrity" ng-click="sendRating()">Rate this</button>
            <button class="button button-block ucase blue_button col gray_button" ng-click="goBackToDetail()">Cancel</button>
        </div>
    </footer>
</ion-view>
