<ion-content class="tab_top full_section has-footer">


    <ul class="roboto">
    <li ng-if="!listrecentclassifieds.length > 0" class="align_center">No listings Found</li>
    <li ng-repeat="item in listrecentclassifieds" class="group" style="padding:4px !important;">
        <!--<a style="float: left;width:100%;text-align:left;"  >{{item.title}}</a>-->
        <section class="classified1_img_box">
            <img ng-src="img/no-img.png" ng-if="!item.logo.length"/>
            <img ng-src="{{classifiedlogurl}}{{item.id}}_{{item.logo}}" ng-if="item.logo.length > 0"/>
        </section>
        <section>
            <section class="group">
                <div class="top_large_section margin_b_15">
                    <h4 ng-bind="classdesc(item.title)"></h4>
                    <p ng-bind="classdesc(item.description)"></p>
                    <p>Distance:{{item.distance}}Km</p>
                </div>
                <div class="top_small_section ion-ribbon-b" ng-hide="item.is_premium == 0">
                </div>
            </section>

        </section>
        <section class="group" style="position:relative;top:-9px;">

            <div class="bot_small_section margin_t_15" style="width:100% !important;">
                <span style="float:left;">Posted By : {{item.username}}</span>
                <span class="icon rounded_icon bg_orange ion-android-share"></span>
                <span class="icon rounded_icon bg_red ion-android-location"></span>

            </div>
        </section>
        </li>
        </ul>



    <!--<ul class="roboto">-->
        <!--<li ng-if="!mainListings.length > 0" class="align_center">No listings Found</li>-->
        <!--<li ng-repeat="item in mainListings" class="group">-->
            <!--<section class="classified_img_box" ng-click="gotoMainDetail(item.id, item.price)">-->
                <!--<img ng-src="img/no-img.png" ng-if="!item.class_image.length"/>-->
                <!--<img ng-src="{{'http://kuwaitlocal.com/img/' + item.class_image}}" ng-if="item.class_image.length > 0"/>-->
            <!--</section>-->
            <!--<section class="classified_info_box" ng-click="gotoMainDetail(item.id, item.price)">-->
                <!--<section class="group">-->
                    <!--<div class="top_large_section margin_b_15">-->
                        <!--<h4>{{item.title}}</h4>-->
                        <!--<span>{{item.address}}</span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="top_small_section ion-ribbon-b" ng-hide="item.is_premium == 0">&ndash;&gt;-->
                    <!--</div>-->
                <!--</section>-->
                <!--<section class="group">-->
                    <!--<div class="">-->
                        <!--<p class="listing_phone" ng-if="item.land_line_no.length > 0"><span class="icon ion-ipad font_color_orange margin_r_5"></span>{{item.land_line_no}}<span ng-if="item.land_line_no"> , </span>{{item.mobile_no}}</p>-->
                        <!--<span class="font_size_16 font_color_orange">Price : <span class="">{{item.price}} KWD</span></span>-->
                    <!--</div>-->
                <!--</section>-->
            <!--</section>-->
            <!--<div class="float_right auth_list_actions classified_menu col-center">-->
                <!--<span class="tapZone ion-android-more" ng-class="{tapSet : actionList == $index}" ng-click="setActive($index)"> &lt;!&ndash;action_active = (action_active) ? 0 : 1 "&ndash;&gt;-->
                    <!--<div class="action_list classified_list_item">-->
                        <!--<div class="action_item group">-->
                            <!--<span class="icon_box">-->
                                <!--<span class="icon ion-arrow-move font_size_22"></span>-->
                            <!--</span>-->
                            <!--<span class="icon-box-lettering">Get Directions</span>-->
                        <!--</div>-->
                        <!--<div class="action_item group" ng-click="gotoEnquiry()">-->
                            <!--<span class="icon_box">-->
                                <!--<span class="icon ion-edit font_size_20"></span>-->
                            <!--</span>-->
                            <!--<span class="icon-box-lettering">Send Enquiry</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</span>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
</ion-content>