<ion-tabs class="tabs-icon-top microtabs classifieds_tabs">
    <ion-tab title="Recent" ui-sref="menuView.classifieds.tabs.recent">
        <ion-nav-view name="recent-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Near by" ui-sref="menuView.classifieds.tabs.nearby">
        <ion-nav-view name="near-tab"></ion-nav-view>
    </ion-tab>


</ion-tabs>
<!--<ion-footer class="bar bar-footer align_center height_auto padding split_50 hide-on-keyboard-open" animation="no-animation">-->
        <!--<button class="button button-block ucase green_button col marginless ion-funnel icon_spacing_right" ng-click="check_in_activation()">Filter</button>-->
<!--</ion-footer>-->