<ion-view title="Kuwait local" class="detailservice_view addback"  padding="true">
    <ion-nav-buttons side="left" animation="no-animation">
        <button menu-toggle="left"class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>
    <ion-content class="addbusiness_form">
        <button class="button button-block ucase footer_row_btn green_tag_btn"  style="margin-top:13%;" ng-click="gotoPremiumStart()">premium listing</button>

        <ul class="tick_list font_roboto" style="text-align:center;color:white;position:relative;margin-top:25%;font-size: 17px;">
          <li>Show with Kl Trusted Symbol</li>
            <li> Will be given firsy preference in search result</li>
      </ul>
        <button class="button button-block ucase margin_r_10 footer_row_btn gray_btn" style="margin-top:36%;" ng-click="setFreeListing()">Free listing</button>
    </ion-content>
    <!--<ion-footer class="bar bar-footer align_center padding hide-on-keyboard-open addbusiness_view auto_height_fix" animation="no-animation">-->
        <!--<div class="h_fixer">-->
           <!--<button class="button button-block ucase margin_r_10 footer_row_btn gray_btn" ng-click="setFreeListing()">Free listing</button>-->
        <!--</div>-->
    <!--</ion-footer>-->
</ion-view>
