<ion-view title="Kuwait local" class="detailservice_view" padding="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>
    <ion-content class="has-imageslider row content_formatting has-header has-footer padding-bottom">
        <vn-direction-map></vn-direction-map>
    </ion-content>
    <footer class="bar bar-footer align_center padding">
        <div class="row">
            <button class="button button-block ucase blue_button" ng-click="goBackToDetail()">back</button>
        </div>
    </footer>
</ion-view>
